body {background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {font-family: 'Comic Sans MS'; 
font-size: 60px;
color: darkblue;
text-align: center;
}
h4 {text-align: right;
font-style: italic;
}
p {text-align: center;}
p:first-of-type {
    color:rgb(255, 200, 0);
}
p:last-of-type {
    color: black;
}
.nama:link {
    color: white;
}